<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Product Details</title>

<link rel="stylesheet" href="../static/css/calculator.css">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>
<body>

<header class="navbar">

<div class="logo">
    <h2>Elasto <span>Bazaar</span></h2>
</div>

<div class="search">
    <input type="text" placeholder="Search products...">
    <button><i class="fa fa-search"></i></button>
</div>

<div class="nav-icons">
    <a href="#"><i class="fa-regular fa-heart"></i> Wishlist</a>
    <a href="#"><i class="fa fa-shopping-cart"></i> Cart</a>
    <a href="#"><i class="fa-regular fa-user"></i> Login</a>
</div>

</header>

<div class="breadcrumb">
Home > Electronics > Calculator > Casio FX-991EX
</div>

<section class="product-container">

<div class="gallery">

<div class="main-image">
<img src="images/calculator.png" alt="">
</div>

<div class="thumbnails">
<img src="images/thumb1.png">
<img src="images/thumb2.png">
<img src="images/thumb3.png">
<img src="images/thumb4.png">
</div>

</div>

<div class="product-info">

<span class="stock">In Stock</span>

<h1>Casio Scientific Calculator FX-991EX</h1>

<div class="rating">
★★★★★
<span>4.8 (24 Reviews)</span>
</div>

<h2 class="price">Rs. 1,950</h2>

<table>

<tr>
<td>Availability</td>
<td class="green">In Stock</td>
</tr>

<tr>
<td>Condition</td>
<td>New</td>
</tr>

<tr>
<td>Category</td>
<td>Electronics</td>
</tr>

<tr>
<td>Brand</td>
<td>Casio</td>
</tr>

<tr>
<td>Location</td>
<td>Kathmandu</td>
</tr>

</table>

<div class="quantity">

<button>-</button>

<input type="text" value="1">

<button>+</button>

</div>

<button class="cart-btn">
<i class="fa fa-shopping-cart"></i>
Add to Cart
</button>

<button class="buy-btn">
Buy Now
</button>

<div class="bottom-buttons">

<button class="wishlist">
<i class="fa-regular fa-heart"></i>
Wishlist
</button>

<button class="message">
<i class="fa-regular fa-comment"></i>
Message Seller
</button>

</div>

</div>

</section>

<section class="features">

<div class="feature">

<i class="fa fa-shield"></i>

<h3>100% Original</h3>

<p>Quality checked products</p>

</div>

<div class="feature">

<i class="fa fa-lock"></i>

<h3>Safe Transaction</h3>

<p>Secure Payments</p>

</div>

<div class="feature">

<i class="fa fa-rotate-left"></i>

<h3>Buyer Protection</h3>

<p>7-Day Return Policy</p>

</div>

</section>
<script src="../static/js/cart.js"></script>
</body>
</html>