<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SastoBazaar</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link rel="stylesheet" href="../static/css/home.css">
</head>

<body>

<!-- NAVBAR -->
<nav>
  <div class="nav-inner">

    <a href="#" class="logo">
      <i class="fa-solid fa-bag-shopping"></i>
      <div class="logo-text">Sasto<span>Bazaar</span></div>
    </a>

    <div class="search-wrap">
      <input type="text" placeholder="Search products...">
      <button>
        <i class="fa fa-search"></i> Search
      </button>
    </div>

    <ul class="nav-links">
      <li><a href="Homepage.html"><i class="fa fa-house"></i> Home</a></li>
      <li><a href="aboutus.html"><i class="fa fa-circle-info"></i> About</a></li>
      <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
      <li>
        <a href="#">
          <i class="fa fa-cart-shopping"></i> Cart
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-user"></i> Account
        </a>
      </li>
    </ul>

  </div>
</nav>

<!-- HERO SLIDER -->
<div class="hero-slider">

  <!-- Slide 1 -->
  <div class="slide active">
    <img src="../static/image/banner1.png" alt="Banner 1">

    <div class="hero-text">
      <h1>Buy & Sell Everything Easily</h1>
      <p>Nepal's trusted marketplace for second-hand products</p>

      <button>
        <i class="fa-solid fa-cart-shopping"></i>
        Start Shopping
      </button>
    </div>
  </div>

  <!-- Slide 2 -->
  <div class="slide">
    <img src="../static/image/banner.jpg" alt="Banner 2">

    <div class="hero-text">
      <h1>Save Money, Shop Smart</h1>
      <p>Discover quality products at affordable prices</p>

      <button>
        <i class="fa-solid fa-tags"></i>
        Explore Deals
      </button>
    </div>
  </div>

  <!-- Slide 3 -->
  <div class="slide">
    <img src="../static/image/banner3.png" alt="Banner 3">

    <div class="hero-text">
      <h1>Turn Unused Items Into Cash</h1>
      <p>Sell faster and connect with buyers across Nepal</p>

      <button>
        <i class="fa-solid fa-store"></i>
        Start Selling
      </button>
    </div>
  </div>

  <!-- ARROWS -->
  <button class="prev">&#10094;</button>
  <button class="next">&#10095;</button>

  <!-- DOTS -->
  <div class="dots">
    <span class="dot active-dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>

</div>

<!-- CATEGORY -->
<div class="section">

  <div class="title">
    Shop by Category
  </div>

  <div class="categories">

    <div class="cat">
      <i class="fa-solid fa-laptop"></i>
      <p>Electronics</p>
    </div>

    <div class="cat">
      <i class="fa-solid fa-pen-ruler"></i>
      <p>Stationery</p>
    </div>

    <div class="cat">
      <i class="fa-solid fa-book"></i>
      <p>Books</p>
    </div>

    <div class="cat">
      <i class="fa-solid fa-couch"></i>
      <p>Furniture</p>
    </div>

    <div class="cat">
      <i class="fa-solid fa-dumbbell"></i>
      <p>Sports & Fitness</p>
    </div>

    <div class="cat">
      <i class="fa-solid fa-bag-shopping"></i>
      <p>Bags</p>
    </div>

  </div>

</div>

<!-- DEAL OF THE DAY -->
<div class="section">

  <div class="title">
    Deal of the Day
  </div>

  <div class="deal">

    <div class="card">
      <img src="../static/image/laptop.jpg" alt="">
      <h4>Used Laptop</h4>
      <p>Rs. 35,000</p>
    </div>

    <div class="card">
      <img src="../static/image/iphone.jpg" alt="">
      <h4>iPhone 13</h4>
      <p>Rs. 55,000</p>
    </div>

    <div class="card">
      <img src="../static/image/engineering book.jpg" alt="">
      <h4>Engineering Books</h4>
      <p>Rs. 2,500</p>
    </div>

    <div class="card">
      <img src="../static/image/studychair.jpg" alt="">
      <h4>Study Chair</h4>
      <p>Rs. 2500</p>
    </div>

    <div class="card">
      <img src="../static/image/bag.jpg" alt="">
      <h4>School Bag</h4>
      <p>Rs. 1,200</p>
    </div>

    <div class="card">
      <img src="../static/image/dumbbell.jpg" alt="">
      <h4>Dumbbell Set</h4>
      <p>Rs. 3,500</p>
    </div>
    <div class="card">
      <img src="../static/image/dumbbell.jpg" alt="">
      <h4>Dumbbell Set</h4>
      <p>Rs. 3,500</p>
    </div>
    <div class="card">
      <img src="../static/image/dumbbell.jpg" alt="">
      <h4>Dumbbell Set</h4>
      <p>Rs. 3,500</p>
    </div>

  </div>

  <div class="explore-btn">
    <button>
      Explore More Products
    </button>
  </div>

</div>

<!-- FOOTER -->
<footer class="footer">
    <div class="footer-container">

        <div class="footer-column">
            <h2><span>Sasto</span> Bazzer</h2>
            <p>Your Unused Items, Someone Else's Treasure.</p>
            <p>
                Hamro Deal is a platform to buy and sell second-hand
                items easily and safely.
            </p>
        </div>

        <div class="footer-column">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Browse Items</a></li>
                <li><a href="#">Categories</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">login/sign up</a></li>
            </ul>
        </div>

        <div class="footer-column">
            <h3>Categories</h3>
            <ul>
                <li><a href="#">Electronics</a></li>
                <li><a href="#">Furniture</a></li>
                <li><a href="#">Stationery</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Bags</a></li>
            </ul>
        </div>

       

        <div class="footer-column newsletter">
            <h3>Newsletter</h3>
            <p>Subscribe to get updates on new deals and offers.</p>

            <input type="email" placeholder="Enter your email">
            <button>Subscribe</button>
        </div>

    </div>

    <hr>

    <div class="footer-bottom">
        <p>📍 Kathmandu, Nepal</p>
        <p>© 2024 Hamro Deal. All rights reserved.</p>

        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Help Center</a>
        </div>
    </div>
</footer>

<!-- SLIDER SCRIPT -->
<script>

const slides = document.querySelectorAll(".slide");
const dots = document.querySelectorAll(".dot");

let current = 0;

function showSlide(index){

    slides.forEach(slide=>{
        slide.classList.remove("active");
    });

    dots.forEach(dot=>{
        dot.classList.remove("active-dot");
    });

    slides[index].classList.add("active");
    dots[index].classList.add("active-dot");
}

function nextSlide(){
    current = (current + 1) % slides.length;
    showSlide(current);
}

function prevSlide(){
    current = (current - 1 + slides.length) % slides.length;
    showSlide(current);
}

document.querySelector(".next")
.addEventListener("click", nextSlide);

document.querySelector(".prev")
.addEventListener("click", prevSlide);

dots.forEach((dot,index)=>{
    dot.addEventListener("click",()=>{
        current = index;
        showSlide(current);
    });
});

setInterval(nextSlide,5000);

</script>

</body>
</html>